
<section class="main-slider">
    <div class="container-fluid">
        <div class="home-slider shadow-box">
            <div class="slider__layer slider__layer--top"></div>
            <div class="slider__layer slider__layer--bottom"></div>
            <div class="swiper homeSlider" id="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="">
                            <img alt="" class="img-fluid" src="assets/image/slider/slider-1.gif">
                        </a>
                    </div>
                    
                </div>
                <div class="swiper-button-next d-lg-flex d-none"></div>
                <div class="swiper-button-prev d-lg-flex d-none"></div>
                <div class="swiper-pagination-bg">
                    <div>
                        <svg fill="none" height="75" viewBox="0 0 231 75" width="231"
                             xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z"
                                  fill="#FCFCFC"
                                  fill-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

