<div class="popup-backdrop" *ngIf="isVisible">
    <div class="popup">
        
        <h3>
            <span class="icon">
              <i *ngIf="type == 0" class="fas fa-check-circle text-success"></i>
      
              <i *ngIf="type === 2" class="fas fa-times-circle text-danger"></i>
      
              <i *ngIf="type ==  1" class="fas fa-exclamation-circle text-warning"></i>
            </span>
            {{ title }}
          </h3>
      <p>{{ message }}</p>
      <button (click)="close()">بستن</button>
    </div>
  </div>
  