<!-- 
<!DOCTYPE html>
<html lang="FA-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه</title>

    <link rel="stylesheet" href="/src/assets/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/src/assets/plugin/go-to-top/style.css">
    <link rel="stylesheet" href="/src/assets/plugin/rasta-contact/style.css">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link rel="stylesheet" href="/src/assets/css/responsive.css">
   

</head> -->


<section class="content vh-100">
    <div class="container-fluid h-100">
        <div class="auth h-100 d-flex align-items-center">
            <div class="container-fluid">
                <div class="auth-items">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="auth-logo text-center">
                                <div class="top-header-logo">
                                    <a href="">
                                        <img src="assets/image/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="auth-form shadow-xl rounded-3 border-ui  mt-3 bg-white">
                                <div class="auth-form-title mb-4 slider-title-desc-center">
                                    <h2 class="text-center h4 mt-4 mb-5 text-muted title-font">ورود / ثبت نام</h2>
                                </div>
                                <form action="" id="form-auth" [formGroup]="form" (ngSubmit)="otpRequest()">
                                    <div class="comment-item mb-3 step-username">
                                        <input type="email" class="form-control" id="username" formControlName="Refrence">
                                        <label for="username" class="form-label label-float">شماره تلفن یا ایمیل خود را
                                            وارد
                                            کنید</label>
                                    </div>
                                    

                                    <div class="form-group step-one mt-4">
                                        <button type="submit" class="btn main-color-one-bg w-100 py-2 font-18">ورود / ثبت نام</button>
                                    </div>
                                 

                                </form>

                           

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- </html> -->
