<header class="header">
    <div class="container-fluid">
        <div class="top-header">
            <div class="row gy-3 align-items-center">
                <div class="col-lg-2 col-xl-2 col-6 order-lg-1 order-1">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center me-2">
                            <div class="responsive-menu d-lg-none d-block">
                                <button aria-controls="responsive menu" class="btn border-0 p-0 btn-responsive-menu" data-bs-target="#responsiveMenu" data-bs-toggle="offcanvas" type="button">
                                    <i class="bi bi-list font-30"></i>
                                </button>
                                <div aria-labelledby="responsive menu" class="offcanvas offcanvas-start" id="responsiveMenu" tabindex="-1">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title" id="offcanvasRightLabel">فروشگاه ماهان</h5>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <a class="text-center top-header-logo d-block mb-3" href="">
                                            <img alt="" class="img-fluid" src="assets/image/logo.png">
                                        </a>
                                        <div class="header-bottom-form mb-4 w-100">
                                            <div class="search-form">
                                                <form action="">
                                                    <div class="search-filed">
                                                        <label class="d-block">
                                                            <input class="form-control search-input" placeholder="جستجوی محصولات ..." type="text">
                                                        </label>
                                                        <button class="btn search-btn main-color-one-bg rounded-pill" type="submit"><i class="bi bi-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <ul class="rm-item-menu navbar-nav">
                                            <li class="nav-item bg-ul-f7"><a class="nav-link" href="index.html">صفحه
                                                اصلی</a>
                                            </li>
                                            <li class="nav-item bg-ul-f7">
                                                <a class="nav-link" href="">گوشی موبایل</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="">برند</a>
                                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                        <ul class="navbar-nav h-0 bg-ul-f7">
                                                            <li class="nav-item"><a class="nav-link" href="">سامسونگ</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">هوآوی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">شیائومی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">الجی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">سونی</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="">بر اساس رده بندی</a>
                                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                        <ul class="navbar-nav h-0 bg-ul-f7">
                                                            <li class="nav-item"><a class="nav-link" href="">لمسی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">دکمه ای</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">نظامی</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item bg-ul-f7">
                                                <a class="nav-link" href="">تبلت</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="">کشور</a>
                                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                        <ul class="navbar-nav h-0 bg-ul-f7">
                                                            <li class="nav-item"><a class="nav-link" href="">ژاپن</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">کره
                                                                جنوبی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">آمریکایی</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="">بر اساس رده بندی</a>
                                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                        <ul class="navbar-nav h-0 bg-ul-f7">
                                                            <li class="nav-item"><a class="nav-link" href="">لمسی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">دانش
                                                                آموزی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">مخصوص
                                                                بازی</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item bg-ul-f7">
                                                <a class="nav-link" href="">لپتاپ</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="">برند</a>
                                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                        <ul class="navbar-nav h-0 bg-ul-f7">
                                                            <li class="nav-item"><a class="nav-link" href="">ایسر</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">مایکروسافت</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">ایسوس</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">اپل</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">سونی</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="">بر اساس قیمت</a>
                                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                        <ul class="navbar-nav h-0 bg-ul-f7">
                                                            <li class="nav-item"><a class="nav-link" href="">ارزان</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">اقتصادی</a>
                                                            </li>
                                                            <li class="nav-item"><a class="nav-link" href="">گران</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item bg-ul-f7">
                                                <a class="nav-link" href="">صفحات</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0">
                                                    <li><a >صفحه اصلی</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        محصول</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        دسته
                                                        بندی</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه سبد
                                                        خرید</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        جستجو</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">دسته بندی
                                                        محصولات خطی</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        404</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        ورود</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        ثبت
                                                        نام</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        فراموشی
                                                        رمز
                                                        عبور</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        وبلاگ</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        جزییات
                                                        وبلاگ</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">صفحه
                                                        مقایسه
                                                        محصول</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">پرداخت
                                                        مرحله
                                                        ای</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">پرداخت
                                                        موفق</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">پرداخت
                                                        ناموفق</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">محصول
                                                        ناموجود</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">سبد
                                                        خرید
                                                        خالی</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">
                                                        داشبورد
                                                        کاربری</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">سفارشات</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">محصولات
                                                        مورد
                                                        علاقه</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="">اطلاعیه</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">نظرات</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">آدرس
                                                        ها</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="">آخرین
                                                        بازدید
                                                        ها</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top-header-logo">
                            <a href="index.html">
                                <img alt="" src="assets/image/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 order-lg-2 d-xl-block d-none">
                    <nav class="navbar top-menu-mini-menu navbar-expand">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link border-animate fromCenter"  href="/">صفحه اصلی</a>
                            </li>
                            <li class="nav-item"><a class="nav-link border-animate fromCenter" href="">درباره ما</a>
                            </li>
                            <li class="nav-item"><a class="nav-link border-animate fromCenter" href="">تماس با ما</a>
                            </li>
                            <li class="nav-item"><a class="nav-link border-animate fromCenter" href="">فروشگاه</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5 col-xl-5 order-lg-3 order-3 d-lg-block d-none">
                    <div class="search-form">
                        <form action="">
                            <div class="search-filed">
                                <label class="d-block">
                                    <input class="form-control search-input" placeholder="جستجوی محصولات ..." type="text">
                                </label>
                                <button class="btn search-btn main-color-one-bg rounded-circle" type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-2 col-6 order-lg-4 order-2">
                    <div class="top-header-link justify-content-end flex-wrap">
                        <a class="btn-favorite-items text-white highlight mb-1" data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart">
                            <i class="bi bi-bag"></i>
                            <span>35</span>
                        </a>
                        <div *ngIf="isAuthenticated == false">
                            <a  class="btn-primary-cm py-3 btn-with-icon ms-2 mb-1 header-auth text-center rounded-pill "  href="/profile">
                                <i class="bi bi-person-add"></i>
                                <span  class="text-white">ثبت نام / ورود</span>
                            </a>
                        </div>
                        <div *ngIf="isAuthenticated == true">
                            <a  class="btn-primary-cm py-3 btn-with-icon ms-2 mb-1 header-auth text-center rounded-pill "  href="/profile">
                                <i class="bi bi-person-add"></i>
                                <span  class="text-white">پروفایل</span>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>