

<!--============ start main slider ==============-->
<app-slider></app-slider>
<!--============ end main slider ==============-->

<!--============ start shop feature ==============-->

<section class="shop-feature">
    <div class="container-fluid">
        <div class="shop-feature-parent">
            <div class="row justify-content-center gy-4 gx-2 row-cols-1 row-cols-lg-5 row-cols-xl-5">
                <div class="col">
                    <div class="shop-feature-item shadow-top">
                        <img alt="" src="assets/image/feature/box.png">
                        <h5 class="mt-2">تحویل اکسپرس</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="shop-feature-item shadow-bottom">
                        <img alt="" src="assets/image/feature/headphone.png">
                        <h5 class="mt-2"> پشتیبانی آنلاین</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="shop-feature-item shadow-top">
                        <img alt="" src="assets/image/feature/money.png">
                        <h5 class="mt-2"> پرداخت در محل</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="shop-feature-item shadow-bottom">
                        <img alt="" src="assets/image/feature/safe.png">
                        <h5 class="mt-2"> ضمانت کالا</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="shop-feature-item shadow-top">
                        <img src="assets/image/feature/seven.png" alt="">
                        <h5 class="mt-2"> هفت روز ضمانت بازگشت</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--============ end shop feature ==============-->


<!--============ start category ==============-->
<app-maincategory></app-maincategory>

<!--============ end category ==============-->
